[Unit]
Description=sc_ddns for aliyun < timer >
After=network-online.target

[Timer]
OnUnitActiveSec=300s
AccuracySec=1s

[Install]
WantedBy=timers.target
